* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/Portfolio/images/portfolio.jpg);
}
.image {
    margin: 7%  10%;
}
img {
    border: 10px solid #c0c0c0;
    border-radius: 100%;
}
.sub1 {
    color: #ffffff;
    width: 50%;
    margin-left: 40%;
    margin-top: -38%;
}
h1 {
    font-size: 45px;
    margin-top: 20%;
    color: aqua;
}
span {
    color: rgb(16, 150, 150);
}
.sub2 {
    margin-top: 3%;
}
span {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-size: 37px;
    color: #521152;
    margin-top: -1%;
    margin-bottom: 4%;
}
button {
    font-size: 27px;
    margin-top: 4%;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
    background-color: black;
    color: white;
}
button:hover {
    background-color: #af7780;
}